<hr>
<h4>Of the top 50 corporate sponsors, technology companies have poured the most money into UC Berkeley research over the last three years, compared to sponsors from other industries</h4>
<table class="table-body">
	<thead>
		<tr>
			<th>Industry</th>
			<th class="right">Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Technology</td>
			<td class="right">$36.2 million</td>
		</tr>
		<tr>
			<td>Chemicals</td>
			<td class="right">13.5</td>
		</tr>
		<tr>
			<td>Energy</td>
			<td class="right">13.3</td>
		</tr>
		<tr>
			<td>Pharmaceuticals</td>
			<td class="right">11.5</td>
		</tr>
		<tr>
			<td>Biotechnology</td>
			<td class="right">7.9</td>
		</tr>
		<tr>
			<td>Automotives</td>
			<td class="right">7.6</td>
		</tr>
		<tr>
			<td>Consultancy</td>
			<td class="right">3.2</td>
		</tr>
		<tr>
			<td>Tobacco</td>
			<td class="right">1.7</td>
		</tr>
		<tr>
			<td>Aerospace</td>
			<td class="right">1.6</td>
		</tr>
	</tbody>
</table>
