<hr>
<h4>Of the top 50 corporate sponsors, technology companies have poured the most money into UC Berkeley research over the last three years, compared to sponsors from other industries</h4>
<table>
	<thead>
		<tr>
			<th>Industry</th>
			<th class="right">Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Technology</td>
			<td class="right">$37.0 million</td>
		</tr>
		<tr>
			<td>Chemicals</td>
			<td class="right">$13.5 million</td>
		</tr>
		<tr>
			<td>Energy</td>
			<td class="right">$13.0 million</td>
		</tr>
		<tr>
			<td>Pharmaceuticals</td>
			<td class="right">$11.5 million</td>
		</tr>
		<tr>
			<td>Biotechnology</td>
			<td class="right">$7.9 million</td>
		</tr>
		<tr>
			<td>Automotives</td>
			<td class="right">$7.6 million</td>
		</tr>
		<tr>
			<td>Consultancy</td>
			<td class="right">$3.3 million</td>
		</tr>
		<tr>
			<td>Tobacco</td>
			<td class="right">$1.7 million</td>
		</tr>
		<tr>
			<td>Aerospace</td>
			<td class="right">$1.6 million</td>
		</tr>
		<tr>
			<td>Optometry</td>
			<td class="right">$6.6 thousand</td>
		</tr>
	</tbody>
</table>
<hr>
