#sankey-chart {

	text {
		font-family: $sans;
	}

	.header-label {
		font-size: 14px;
		font-weight: 600;
		fill: black;
	}

	.header-line {
		stroke: grey;
		stroke-opacity: 0.5;
	}

	.links {
		fill: none;
		stroke: #999999;
		stroke-opacity: 0.3;
	}

	.nodes {
		font-size: 10px;
	}

}

@media (max-width: $width-medium) {
    #sankey-chart {
    	display: none;
    }
}

.tooltip {
	position: absolute;
	z-index: 10;
	padding: 8px;
	border-radius: 6px;
	display: none;
	width: 300px;
	text-align: left;
	font-family: $sans;
	font-size: 12px;
	pointer-events: none;

	background: white;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);

	hr {
		margin: 0;
	}

	h4.header {
		font-size: 12px;
	}

	table {
		margin-top: 0;
		width: 100%;

		.left {
			width: 90%;
		}

		.right {
			width: 10%;
			text-align: right;
		}
	}
}